body {
  font-family: Quicksand, sans-serif;
  font-weight: 300;
}

.center {
  text-align: center;
}

html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  font-size: xx-large;
}

.instructions {
  font-size: medium;
}

.pad {
  padding: 5px;
}

.round {
  border-radius: 10px;
  padding: 10px;
}

.footer {
  background-color: #222;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

.footer a {
  color: white;
  padding: 10px;
}

.toast {
  display: absolute;
  position: fixed;
  bottom: 3rem;
  left: 3rem;
}

.display-none {
  display: none;
}

@-webkit-keyframes quickFlash {
  0% {
    opacity: 0;
  }
  30% {
    opacity: .8;
  }
  70% {
    opacity: .8;
  }
  100% {
    opacity: 0;
  }
}

.quickFlash {
  -webkit-animation-name: quickFlash;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: quickFlash;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
}

.goodColor {
  background-color: lime;
}
.badColor {
  background-color: gray;
}

.narrower {
  width: 80%;
  margin: auto;
}

.section {
border: 1px solid black;
margin: 10px;
display: inline-block;
padding: 10px;
border-radius: 10px;
}

.playback-title {
  font-size: xx-large;
  text-align: left;
  margin-top: 20px;
}

#paper {
  max-height: 0.7vh
}

.audio-widget {
  
}

.playback-title {
  
}
.abcjs-large {
  
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: whitesmoke;
}

.button-link {
  background: lavender;
  border-radius: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  border: 1px solid lavender;
}

.button-link:hover {
  border: 1px solid plum;
}

.highlight {
  fill: #0a9ecc;
}